[global]
<% @_global.each do |k, v| -%>
    <%= k %> = <%= v %>
<% end -%>

<% if @printers == true -%>
[printers]
   comment = All Printers
   browseable = no
   path = /var/spool/samba
   printable = yes
   guest ok = no
   read only = yes
   create mask = 0700

[print$]
   comment = Printer Drivers
   path = /var/lib/samba/printers
   browseable = yes
   read only = yes
   guest ok = no
<% end -%>

<% @_shares.each do |share, params| -%>
[<%= share %>]
<% params.each do |k, v| -%>
    <%= k %> = <%= v %>
<% end -%>
<% end -%>